nav {
    background-color: #2196F3;
    /*DodgerBlue;*/
    height: 56px;
    line-height: 56px;
    padding-left: 3%;
}

nav.nav-extended .nav-wrapper {
    min-height: 56px;
    height: auto;
}

nav i.material-icons {
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 16px;
    color: #2196F3;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

#editor {
    position: absolute;
    top: 56px;
    background-color: #fff;
    z-index: 2;
}

.row .col {
    padding: 0;
}

header {
    position: relative;
    z-index: 1;
}

.brand-logo i {
    margin-left: 20px;
}


/* ====== PANTALLA DE CARGA ====== */

#loading_screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background-color: #FFF;
    display: table;
}

#loading_screen>div {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
}

#loading_screen>div>div {
    width: 50%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #2196F3;
}

#loading_screen i {
    color: #FFF;
    font-size: 50px;
}

.progress {
    background-color: #fff;
}

.progress .indeterminate {
    background-color: #6ec6ff;
}


/* Barra de desplazamiento */

.jspTrack {
    background: #6ec6ff !important;
}

.jspDrag {
    background: #2196F3 !important;
}


/* ====== TILESETS ====== */

.tabs .tab a {
    padding-top: 5%;
    font-size: 32px;
    color: #2196F3;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #2196F3;
}

.tabs .indicator {
    background-color: #2196F3;
}

#tileset_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* Estilo de las vistas previas de los Tiles en el Editor */

.collection .collection-item.avatar {
    /*padding-left: 40%;*/
    display: inline-block;
}

.collection .collection-item.avatar .circle {
    position: absolute;
    width: 64px;
    height: 64px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}


/* Vista previa con bordes redondeados */

.circle {
    border-radius: 25%;
}


/* Descripcion asociada al tile */

.collection .collection-item.avatar .title {
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
}

.collection a.collection-item {
    color: #2196F3;
}

.collection a.collection-item i {
    color: #2196F3;
}

.collection .collection-item.active .layer-name {
    color: #fff;
}


/* ====== CANVAS ====== */


/* z-index negativo para que no tape a la interfaz */

#canvas {
    position: absolute;
    z-index: 0;
    display: block;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto
}


/* Canvas con grilla desactivada */

#canvas .nogrid {
    background-image: none !important;
}


/* Estilizamos el cursor con respecto al canvas */

#canvas .cursor {
    position: absolute;
    z-index: 99;
}


/* Estilo del cursor */

.cursor {
    box-shadow: inset 0px 0px 0px 1px #000;
}


/* Evitamos que las capas en el canvas dibujen el tilset asignado */

.layer {
    background-image: none !important;
}


/* ====== LAYERS ====== */


/* Items de la lista de capas */

#layerlist {
    top: 30px;
    /*
    margin-left: 5%;
    margin-right: 5%
    */
}

#layers_add {
    background-color: #03a9f4;
}

.collection .collection-item.active {
    background-color: #2196F3;
    color: #eafaf9;
}


/* ====== Botones de herramientes ====== */

.btn:focus,
.btn-large:focus,
.btn-floating:focus {
    background-color: #F44336;
}

.btn:hover,
.btn-large:hover {
    background-color: #F44336;
}

.btn-large {
    background-color: #F44336;
}

#edit_mode .btn-floating {
    background-color: #2196F3;
}

#pan_mode .btn-floating {
    background-color: #4CAF50;
}

.buttons {
    text-align: center
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}